<p><%= link_to 'User List', users_path %> > User Detail > </p>

<h1><% if @user.email.present? %>
        <%= mail_to "#{@user.email}", "#{@user.name}" %>
    <% else %>
        <%= @user.name %>
    <% end %></h1>
<h3>Location: <%= @user.city %></h3>  