/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.book_index {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 3px solid #000000;
    border-radius: 10px;
}

.book_index_header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 2px solid #000000;

}

.book_index_header_cell {
    margin: 0;
    padding: 5px;
    color: #ffffff;
}

#header_description {

}

#book_index_detail_wrapper {

}

.book_index_detail_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

 .book_index_detail_cell {

}

.description {

}